<ngb-carousel *ngIf="images">
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="picsum-img-wrapper">
        <a [attr.href]="image.linkUrl == '' ? null : image.linkUrl" 
        [attr.target]="(image.linkUrl == '' || image.isInternal == true) ? null : '_blank'">
        <img [src]="image.url" alt="{{ image.alt }}">
          </a>
      </div>
      <div class="carousel-caption">
        <h3>{{ image.header }}</h3>
        <p>{{ image.text }}</p>
      </div>
    </ng-template>
      </ngb-carousel>