<div class="navbar">
    <img class="logo" routerLink="/" src="assets\Webshio.svg" >
    <div>
      <button (click)="useLanguage('en')">en</button>
      <button (click)="useLanguage('ee')">ee</button>
    </div>
    <div routerLink="cart" class="cart-button"> 
        <img src="assets\shopping-cart.svg" />
         <span>{{ cartSum | thousandSeparator }} €</span>
       </div>
</div>

<!-- <h1>suur header</h1>
<h2>järgmine header</h2>
<h3>väiksem header</h3>
<p>Teksti jaoks</p>
<a href="http://www.google.com" target="blank">Mine google-sse</a><br>
<button>Nupp</button> -->
